@charset "UTF-8";
/* CSS Document */


.buttons {
	border-style:solid;
	border-radius: 16px;
	width: 40px;
	height: 30px;
	border: none;
	margin-left: 17px;
	cursor: pointer;
	border-top: 2px solid transparent;
}

body {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	color: #0C1D8C;
	background-image: url("images/plane.png");
	background: url('images/plane.png') no-repeat; 
	background-size: 100%;
	text-size: 100px;

}


div{
	opacity:1;
	
}
