@charset "UTF-8";
/* CSS Document */

body {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	color: black;
	background-image: url("images/island.jpg");
	background-size: 100%;
}